<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hard Times Cafe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header>
        <div class="header-container">
          <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Hard Times Cafe Logo" class="logo">
          <div class="header-text">
            <h1>Welcome to Hard Times Cafe</h1>
            <p>Your comfort food destination!</p>
          </div>
        </div>
      </header>  

    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('menu') }}">Menu</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <main>
        <img src="{{ url_for('static', filename='HTC.jpg') }}" alt="Hard Times Cafe Logo" class="main-image">
        <p style="text-align: center">Serving fair trade coffee and vegan/vegetarian food since 1992. Cash only.</p>
        <div class="carousel">
            <button class="arrow left" onclick="prevImage()">&#8592;</button>
            <img id="carouselImage" src="image1.jpg" alt="carousel image">
            <button class="arrow right" onclick="nextImage()">&#8594;</button>
          </div>
        <p style="text-align: left;">Hours of Operation:</p>
        <p style="text-align: left;">8:00 AM - 12:00 AM Every Day</p>
    </main>
    <script>
        const images = [
        "{{ url_for('static', filename='house-image.jpg') }}",
        "{{ url_for('static', filename='fairtrade_coffee.jpg') }}",
        "{{ url_for('static', filename='dining-area.jpg') }}"
        ];
        let currentIndex = 0;

        function showImage(index) {
            const imgElement = document.getElementById("carouselImage");
            imgElement.src = images[index];
        }

        function prevImage() {
            currentIndex = (currentIndex - 1 + images.length) % images.length;
            showImage(currentIndex);
        }

        function nextImage() {
            currentIndex = (currentIndex + 1) % images.length;
            showImage(currentIndex);
        }
    </script>
    <footer>
        <p>&copy; 2025 Hard Times Cafe. All rights reserved.</p>
    </footer>
</body>
</html>
